
oneHiddenLayerNeuralNetworks/.ipynb_checkpoints/logisticRegression-checkpoint.ipynb
logisiticRegression/.ipynb_checkpoints/LogisticRegression-checkpoint.ipynb
LLayerNeuralNetworks/.ipynb_checkpoints/LLayerNeuralNetworks-checkpoint.ipynb
